@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    background-color: var(--background);


}
:root{
    --background:#100f10;
    --cont:#544e54;
    --bordercolor:#8b265c;
    --bordercolor2: #fb9acd;
}
.entire{
    font-family: "Poppins", sans-serif;
    background-color: var(--background);
    color:white;
}

.container{
    height:100vh;
    color: white;
    display:Flex;
    justify-content: center;
    align-items: center;
    padding:0 80px;
    gap:8rem;
}

i.fa{
    color: var(--bordercolor2);
    font-size:20px;
    margin-right: 10px;
    padding:7px 10px;
    border-radius: 50%;
    border: 1px solid var(--bordercolor2)
}

i.fa:hover{
    background-color: var(--bordercolor2);
    color: black;
}

.image-box img{
    width:50vh;
    height: 45vh;
    object-fit:cover;
    border: 3px solid var(--bordercolor);
}

.skills h1{
    text-align: center;
}
.skill-container{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap:2rem;
    margin: 0 100px;
}
.card{
    border:1px solid var(--bordercolor2);
    padding:25px 10px;
    text-align: center;
}
.card:nth-child(7) img, .card:nth-child(3) img{
    width:23px;
}
.card:nth-child(4) img{
    width:40px;
}
.card img{
    width:20px;
}
.card:hover{
    box-shadow: 5px 10px 8px var(--bordercolor2);
}
.projects{
    padding-top: 30px;
}
.projects h1{
    text-align: center;
}
.project-container{
    display:Grid;
    grid-template-columns: repeat(3,1fr);
    margin: 0 0 130px 120px;
}
.project{
    width:250px;
    height:300px;
    position:relative;

}

.project img{
    width: 100%;
    height: 100%;   
    object-fit: cover;
    border-radius: 10px;
    border: 5px dashed var(--bordercolor2);
}
.project img:hover{
    box-shadow: 0 5px 35px 0px var(--bordercolor);
    transition: 0.4s;
    opacity: 0.4;
}
.project .button{
    position: absolute;
    top: 70%;
    left:30%;
    background-color: transparent;
    border:1px solid var(--bordercolor2);
    padding:10px 30px;
    color:white;
    font-weight: 400;
    visibility:hidden; 
}

.project .title{
    position: absolute;
    top:20px;
    left:70px;
}

.project img:hover + .button,
.project .title + .button {
    opacity: 1;
    background-color: var(--bordercolor2);
    visibility: visible;
}
.heading{
    text-align: center;
    padding-top:30px;
}
.name{
    box-shadow: 10px 5px 10px rgba(0,0,0,0.5);
    border-top-right-radius: 5px;
    background-color: var(--bordercolor2);
    padding: 1rem;
    
}
#education .year{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding:5px;
}
#education p {
    color: black;
    padding: 1rem 1rem;
    background-color: white;
}
#education ul{
    padding: 50px 0;
}
#education ul li{
    list-style: none;
    position: relative;
    width:7px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: var(--bordercolor);
}
#education ul li .box{
    position: relative;
    bottom: 0;
    width: 450px;
    border-radius:5px;
    transform:translateX(400%);

}


#education ul li:nth-child(odd) .box{
    left:50px;
}
#education ul li:nth-child(even) .box{
    left:-500px;
    transform:translateX(-400%);
}
#education ul li .box.show{
    transform:translateX(0%);
    transition: all 0.5s ease-in-out;
}

@media only screen and (max-width:913px) {
    p{
        font-size:11px;
    }
    .project-container{
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        margin: 0 60px;
    }
}
@media only screen and (max-width:821px) {
    p{
        font-size:11px;
    }
    .project-container{
        grid-template-columns: repeat(2,auto);
        gap: 90px;;
        margin: 0 60px;
    }
}


@media only screen and (max-width:641px) {
    p{
        font-size:11px;
    }
    .project-container{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        margin: 0 170px;

    }
}
@media only screen and (max-width:541px) {
    .skill-container{
        margin: 0 10px -10px 0;
    }
    .project-container{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        margin: 0 150px;

    }
}

@media only screen and (max-width:481px) {
    .container{
        flex-direction: column;
        gap:1rem;
    }
    i.fa{
        font-size:10px;
        padding:6px 8px;
        margin:auto;
    }
    .project-container{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        margin: 0 85px;
    }
    #education ul li:nth-child(odd) .box{
        left:-172px;
    }
    #education ul li:nth-child(even) .box{
        left:-172px;
    }
    #education ul li .box{
        width:350px;
    }
    .image-box img{
        width:35vh;
        }
    
}
@media only screen and (max-width:415px) {
    .container{
        flex-direction: column;
        gap:1rem;  
    }
    .box{
        margin-top:30px;
    }
    .image-box img{
        width:30vh;
        height: 45vh;
    }
    .skills{
        margin:0;
    }
    .project-container{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        margin: 0 75px;

    }
}
@media only screen and (max-width:376px) {
    .image-box img{
        width:20vh;
        height: 35vh;
    }
    p{
        font-size:11px;
    }
    .skills{
        margin: -10px ;
    }
    .project-container{
        grid-template-columns: repeat(1,1fr);
        gap: 40px;
        margin: 0 60px;
    }
    #education ul li:nth-child(odd) .box{
        left:-172px;
    }
    #education ul li:nth-child(even) .box{
        left:-172px;
    }
    #education ul li .box{
        width:350px;
    }
}
@media only screen and (max-width:321px) {
    .skills{
        margin: 0 40px;

    }
}
@media only screen and (max-width:505px) {
    .skill-container{
        grid-template-columns: repeat(3, 1fr);
        margin: 0 40px;
    }
}



